@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  background-color: lightblue;
  font-family: Arial;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

p,
li {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "Jersey 10", sans-serif;
  font-size: 30px;
}

b {
  font-size: 25px;
}

.centered {
  text-align: center;
}

.page-separator {
  border: none;
  height: 2px;
  background-color: #2f4f4f;
  margin: 12px 20px;
}

.footer {
  position: static;
  margin-top: auto;
  padding: 10px;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
}

.development-image {
  display: block;
  margin: 20px auto;
  border: 4px solid #414141;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

#heading {
  font-family: "Jersey 10", sans-serif;
  font-size: 30px;
  padding-right: 20px;
}

.developer-name {
  font-size: 20px;
  font-weight: bold;
}

#game-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#diversity-logo {
  padding-left: 10px;
  padding-top: 10px;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}
